@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

@font-face {
  font-family: "Bryant-medium";
  src: url("http://sandbox.lucasbonomi.com/flippets/fonts/bryant-medium/bryant-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Open-Sans";
  src: url("http://sandbox.lucasbonomi.com/flippets/fonts/Open-sans-condensed/OpenSans-CondLight.ttf") format("truetype");
}

* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 300;
  line-height: 24px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

form textarea, form select, form input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  border-radius: 0;
  appearance: none;
  background-color: transparent;
  color: inherit;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1em;
  height: 1em;
  vertical-align: middle;
}
form textarea::-webkit-input-placeholder, form select::-webkit-input-placeholder, form input::-webkit-input-placeholder {
  color: #fff;
}
form textarea:-moz-placeholder, form select:-moz-placeholder, form input:-moz-placeholder {
  color: #fff;
}
form textarea::-moz-placeholder, form select::-moz-placeholder, form input::-moz-placeholder {
  color: #fff;
}
form textarea:-ms-input-placeholder, form select:-ms-input-placeholder, form input:-ms-input-placeholder {
  color: #fff;
}
form select, form select, form select {
  background: transparent;
  background-repeat: no-repeat;
  background-position: 97% center;
  padding: 0 25px 0 8px;
  font-size: .875em;
}

.wrapper {
  float: left;
  width: 100%;
  height: auto;
  background: #eff0f2;
  color: #34495e;
  font-size: 1.1em;
}
.wrapper .line {
  position: relative;
  height: .2em;
  width: 100%;
  background: #2c3e50;
  display: block;
  margin-top: -1.8em;
}
.wrapper a {
  color: inherit;
  text-decoration: none;
}
.wrapper h1, .wrapper h2, .wrapper h3, .wrapper h4, .wrapper h5, .wrapper h6 {
  font-family: "Open-Sans", Helvetica, sans-serif;
  font-weight: 600;
}
.wrapper p {
  font-family: "Bryant-medium", Myriad Pro, sans-serif;
}
.wrapper header[role="header"] {
  position: fixed;
  float: left;
  width: 100%;
  z-index: 4;
}
.wrapper header[role="header"] ul {
  list-style: none;
  float: right;
}
.wrapper header[role="header"] ul li {
  display: block;
  float: left;
  margin: auto 1em;
}
.wrapper header[role="header"] ul li a {
  color: #eff0f2;
}
.wrapper header[role="header"] ul li:last-child {
  opacity: .6;
}
.wrapper header[role="header"] ul li:last-child a {
  text-decoration: line-through;
}
.wrapper [class*="section_"] {
  margin: auto;
}
.wrapper [class*="section_"].section_head {
  float: left;
  height: 440px;
  width: 100%;
  max-width: 100%;
  position: relative;
  z-index: 0;
  background: url(http://25.media.tumblr.com/b96eedd08ac55d61bae0534d812a9ee7/tumblr_n0hq1kxq7j1st5lhmo1_1280.jpg) no-repeat center center;
  background-size: cover;
}
.wrapper [class*="section_"].section_head:before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 440px;
  opacity: .65;
  z-index: 1;
}
.wrapper [class*="section_"].section_head[data-color="ff667a"]:before {
  background: #ff667a;
}
.wrapper [class*="section_"].section_head .content {
  position: relative;
  z-index: 3;
  color: #eff0f2;
  max-width: 840px;
  width: 90%;
  height: 6em;
  margin: 4em auto;
  font-size: 2em;
  padding: .5em 0em;
}
.wrapper [class*="section_"].section_head .content h1 {
  font-size: 2em;
}
.wrapper [class*="section_"].section_head .content h2 {
  font-size: 1em;
}
.wrapper [class*="section_"][class*="center"] {
  width: 100%;
  padding: 3em 0;
  float: left;
  min-height: 15em;
}
.wrapper [class*="section_"][class*="center"] section {
  max-width: 840px;
  margin: auto;
  width: 90%;
}
.wrapper [class*="section_"][class*="center"] section p {
  padding: 1em 0;
  border-bottom: .2em solid;
}
.wrapper [class*="section_"][class*="center"][class*="section_one"] h2 {
  background: #eff0f2;
  position: relative;
  z-index: 2;
  width: 9em;
}
.wrapper [class*="section_"][class*="center"][class*="section_one"] section:nth-child(2) {
  margin-top: 4em;
}
.wrapper [class*="section_"][class*="center"][class*="section_one"] section:nth-child(2) h2 {
  float: right;
  width: 12em;
  clear: both;
  margin-top: -.5em;
  padding-left: 1em;
}
.wrapper [class*="section_"][class*="center"][class*="section_one"] section:nth-child(2) .line {
  margin-top: 3em;
  margin-bottom: 0;
}
.wrapper [class*="section_"][class*="center"][class*="section_two"] {
  background: #2c3e50;
  color: #ff667a;
}
.wrapper [class*="section_"][class*="center"][class*="section_three"] {
  background: #2ecc71;
  color: #eff0f2;
}
.wrapper [class*="section_"][class*="center"][class*="section_three"] h2 {
  background: #2ecc71;
  position: relative;
  z-index: 2;
  width: 17em;
}
.wrapper [class*="section_"][class*="center"][class*="section_three"] a {
  color: #2ecc71;
  border-color: #2ecc71;
  width: 8em;
}
.wrapper [class*="section_"][class*="center"][class*="section_three"] .line {
  margin-top: -1.8em;
  background: #eff0f2;
  height: .15em;
}
.wrapper [class*="section_"][class*="center"][class*="section_four"] h2 {
  background: #eff0f2;
  position: relative;
  z-index: 2;
  width: 9em;
}
.wrapper [class*="section_"][class*="center"][class*="section_four"] section {
  border-bottom: 0.2em solid #2c3e50;
}
.wrapper [class*="section_"][class*="center"][class*="section_four"] section p {
  border: 0;
}
.wrapper [class*="section_"][class*="center"][class*="section_five"] {
  background: #94a3a8;
  color: #eff0f2;
}
.wrapper [class*="section_"][class*="center"][class*="section_five"] h2 {
  text-align: center;
}
.wrapper [class*="section_"][class*="center"][class*="section_five"] form {
  display: block;
  width: 95%;
  padding: 1em 0;
  marign: 0 auto;
}
.wrapper [class*="section_"][class*="center"][class*="section_five"] form input {
  width: 30%;
  float: left;
  height: 3em;
  margin: 0 3.3333333% 0 0;
  padding: 1em 0;
  border-radius: 7px;
  display: block;
  text-align: center;
  font-family: "Bryant-medium",Myriad Pro, sans-serif;
  text-decoration: none;
  font-size: 0.95em;
  background: transparent;
  border: 1px solid #eff0f2;
  color: #eff0f2;
}
.wrapper [class*="section_"][class*="center"][class*="section_five"] form input[type="submit"] {
  background: #2ecc71;
  color: #eff0f2;
  box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.2);
  border: 0;
}
.wrapper footer[class*="section_"][class*="center"] {
  width: 100%;
  padding: 1em 0 !important;
  background: #2c3e50;
  color: #eff0f2;
  float: left;
  min-height: 4em;
}
.wrapper footer[class*="section_"][class*="center"] section {
  max-width: 840px;
  margin: auto;
  width: 90%;
}
.wrapper footer[class*="section_"][class*="center"] section p {
  padding: 0;
  border-bottom: 0;
  display: inline;
}
.wrapper footer[class*="section_"][class*="center"] section .links {
  float: right;
}

/*buttons*/
.btn {
  padding: .4em 1em;
  border-radius: 7px;
  display: block;
  width: auto;
  text-align: center;
  font-family: "Bryant-medium",Myriad Pro, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.95em;
  background: transparent;
  border: 2px solid #eff0f2;
  color: #eff0f2;
}
