
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
@font-face{
  font-family:"Bryant-medium";
  src: url('http://sandbox.lucasbonomi.com/flippets/fonts/bryant-medium/bryant-medium.ttf')  format('truetype');
}
@font-face{
  font-family:"Open-Sans";
  src: url('http://sandbox.lucasbonomi.com/flippets/fonts/Open-sans-condensed/OpenSans-CondLight.ttf')  format('truetype');
}

@mixin reset {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
@mixin resetForm(){
  textarea, select, input{
    @include box-sizing(border-box);
    -webkit-background-clip:padding;
    border-radius:0;
    appearance:none;
    background-color:transparent;
    color:inherit;
    border:0;
    outline:0;
    margin:0;
    padding:0;
    text-align: left;
    font-size:1em;
    height: 1em;
    vertical-align: middle;
    @include placeholder { color:#fff; }
  }
  select, select, select{
    background:transparent;
    background-repeat: no-repeat;
    background-position: 97% center;
    padding:0 25px 0 8px;
    font-size: .875em}



}
@mixin high{
  -webkit-font-smoothing:antialiased;
  @include box-sizing(border-box);
  font-weight:300; 
  line-height:24px;
}

$c-1:#2c3e50;
$c-2:#34495e;
$c-3:#94a3a8;
$c-4:#2ecc71;
$c-5:#ff667a;
$c-6:#eff0f2;


*{  
  @include high();
}
html,body{
  @include reset();
}
form{  @include resetForm();
}
.wrapper{
  float:left;
  width:100%;
  height:auto;
  background:$c-6;
  color:$c-2;
  .line{
    position:relative;
    height:.2em;
    width:100%;
    background:$c-1;
    display:block;
    margin-top:-1.8em;
  }
  a{color:inherit;text-decoration:none;}
  h1,h2,h3,h4,h5,h6{
    font-family:"Open-Sans", Helvetica, sans-serif;
    font-weight:600;
  }
  p{  font-family:"Bryant-medium", Myriad Pro, sans-serif; }
  font-size:1.1em;
  header[role="header"]{
    position:fixed;
    float:left;
    width:100%;
    z-index:4;
    ul{
      list-style:none;
      float:right;
      li{
        display:block;
        float:left;
        margin:auto 1em;
        a{
          color:$c-6;
        }
        &:last-child{
          opacity:.6;
          a{text-decoration:line-through;}
        }
      }

    }
  }
  //Sections
  [class*="section_"]{
    margin:auto;
    //Head
    &.section_head{
      float:left;
      height:440px;
      width:100%;
      max-width:100%;
      position:relative;
      z-index:0; background:url(http://25.media.tumblr.com/b96eedd08ac55d61bae0534d812a9ee7/tumblr_n0hq1kxq7j1st5lhmo1_1280.jpg)no-repeat center center ;
      background-size:cover;
      &:before{
        position:absolute;
        content:'';
        display:block;
        width:100%;
        height:440px;
        opacity:.65;
        z-index:1;
      }
      &[data-color="ff667a"]{
        &:before{
          background:#ff667a;
        }
      }
      .content{
        position:relative;
        z-index:3;
        color:$c-6;
        max-width:840px;
        width:90%;
        height:6em;
        margin:4em auto; 
        font-size:2em;
        padding:.5em 0em;

        h1{
          font-size:2em;
        }
        h2{
          font-size:1em;}
      }
    }   
  }
  [class*="section_"][class*="center"]{
    width:100%;
    padding:3em 0 ;
    float:left;
    min-height:15em;
    section{
      max-width:840px;
      margin:auto;
      width:90%;
      p{
        padding:1em 0;
        border-bottom:.2em solid;
      }
    }
    &[class*="section_one"]{
      h2{
        background:$c-6;
        position:relative;
        z-index:2;
        width:9em;
      }
      section:nth-child(2){
        margin-top:4em;
        h2{
          float:right;
          width:12em;
          clear:both;
          margin-top:-.5em;
          padding-left:1em;
        }
        .line{
          margin-top:3em;
          margin-bottom:0;}
      }

    }
    &[class*="section_two"]{
      background:$c-1;
      color:$c-5;
    }
    &[class*="section_three"]{
      background:$c-4; 
      color:$c-6;
      h2{
        background:$c-4;
        position:relative;
        z-index:2;
        width:17em;
      }
      a{
        color:$c-4;
        border-color:$c-4;
        width:8em;
      } 

      .line{
        margin-top:-1.8em;
        background:$c-6;
        height:.15em;
      }
    } 
    &[class*="section_four"]{
      h2{
        background:$c-6;
        position:relative;
        z-index:2;
        width:9em; 
      }
      section{
        p{
        border:0; 
      }
        border-bottom:.2em solid $c-1
     }
    }
    &[class*="section_five"]{
      background:$c-3;
      color:$c-6;
      h2{
        text-align:center;
      }
      form{
        display:block;
        width:95%;
        padding:1em 0;
        marign:0 auto;

        input{
          width:30%;
          float:left;
          height:3em;
          margin:0 3.3333333% 0 0;
          padding:1em 0;
          border-radius: 7px;
          display: block;
          text-align: center;
          font-family: "Bryant-medium",Myriad Pro, sans-serif;
          text-decoration: none;
          font-size: 0.95em;
          background: transparent;
          border: 1px solid $c-6;
          color:$c-6;
          &[type="submit"]{
            background:$c-4;
            color:$c-6;
            @include box-shadow(inset 0 -.15em 0 0  rgba(#000,.2));
            border:0;
          }
        } 
      }
    }
  } 
  footer[class*="section_"][class*="center"]{
    width:100%;
    padding:1em 0 !important;
    background:$c-1;
    color:$c-6;
    float:left;
    min-height:4em;

    section{
      max-width:840px;
      margin:auto;
      width:90%;
      p{
        padding:0;
        border-bottom:0;
        display:inline;

      }
      .links{
        float:right;
      }
    }
  }
}

/*buttons*/
.btn{
  padding: .4em 1em;
  border-radius: 7px;
  display: block;
  width:auto;
  text-align: center;
  font-family: "Bryant-medium",Myriad Pro, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.95em;
  background: transparent;
  border: 2px solid $c-6;
  color:$c-6;
}
